/* General Styling */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.header__container {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}
.container___navigation--title {
  display: none;
}

nav ul li {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}
.about__me--title {
  display: none;
}
.about p {
  line-height: 1.6;
}

h2 {
  text-align: center;
}

/* CSS Dropdown Styling */
.project__item {
  margin-bottom: 2rem;
}

.project__item p {
  line-height: 1.6;
}

.dropdown__checkbox {
  display: none;
}

.dropdown__label {
  display: block;
  cursor: pointer;
  background-color: #f4f4f4;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.dropdown__content {
  display: none;
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 0.5rem;
}

.dropdown__checkbox:checked + .dropdown__label + .dropdown__content {
  display: block;
}

.dropdown__label:hover {
  background-color: #e0e0e0;
}

.icon {
  width: 24px;
  height: 24px;
  margin-left: 1rem;
  transition: transform 0.3s ease;
}

.social-icons i {
  font-size: 24px;
  margin-left: 1rem;
  color: #333;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons i:hover {
  color: #6f6f6f; /* Change color on hover */
  transform: scale(1.2);
}
footer {
  text-align: center;
}

.project__link {
  color: #333; /* Link color */
  text-decoration: none;
  padding: 0 0.5rem; /* Space between the links */
  transition: color 0.3s ease, transform 0.3s ease;
}

.project__link:hover {
  color: #6f6f6f; /* Darker blue on hover */
  transform: scale(1.1); /* Slightly enlarge on hover */
}

span {
  padding: 0 0.5rem; /* Space around the pipe symbol */
  color: #333; /* Make the pipe a neutral color */
}

.project__detail p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.project__detail img {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Mobile */
@media screen and (max-width: 768px) {
  header {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0 0;
    background-color: #333;
    border-top: 1px solid #555;
  }

  .container {
    flex-direction: row;
    justify-content: space-evenly;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  h1 {
    display: none; /* Hide the title for mobile */
  }

  nav ul li a i {
    font-size: 20px; /* Adjust icon size for mobile */
  }
  .about__me--title {
    display: block;
    text-align: center;
  }
  .container___navigation--title {
    display: block;
    text-align: center;
  }
  footer {
    margin-bottom: 30%; /* Ensure it's above the fixed header */
  }
}
